body{
    box-sizing: border-box;
}
.box{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    margin: 5px;
    /* outline: 1px; */
    border: 1px solid black;
}
section{
    border: 1px solid #000;
    margin: 5px;
    /* display: inline; */
}
h1{
    text-align: center;
    background-color: greenyellow;
}
.dabba{
    background-color: blue;
    border: 1px solid black;
    display: inline;
    /* margin: 5px; */
    /* padding: 5px; */
}
.cont{
    display: inline-block;
    background-color: black;
    color: aqua;
    padding: 10px;
    margin: 2px;
}