.main{
    padding: 10px;
    background-color: red;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    align-items: center;
    margin: 10px;
    color: white;
}
h1{
    text-align: center;
}


.box1{
    height: 200px;
    background-color: red;
    width: 200px;
    font-size: 30px;
    text-align: center;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    height: 200px;
    background-color: rgb(27, 236, 8);
    width: 200px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 650px;
}
.box3{
    height: 200px;
    background-color: rgb(3, 172, 250);
    width: 200px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex; 
    border: 2px solid;
    padding: 10px;
    box-sizing: border-box;
    /* position: fixed; */
    /* top: 10px; */
}