*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border: 1px solid black;
    width: 400px;
    height: 100;
    margin: 5px;
    padding: 5px;
    
}
.box img{
    position: relative;
    top: 50px;
    left: 100px;
}
.box p{
    position: relative;
    /* left: 50px; */
    top: 30px;
    left: 100px;
    /* color: white; */
}
h1{
    text-align: center;
    margin-top: 2px;
}
.box2{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content:center;
    /* align-items: center; */
    text-align: center;
}
span{
    font-size: 15px;
    font-family: monospace;
}
.blue, .red, .green{
    height: 100px;
    /* border: 1; */
    background-color:blue;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.red{
    background-color: red;
    position: absolute;
    /* top: 80px; */
    /* left: 50px; */
    /* right: 40px; */
    /* bottom: 90px; */
}
.green{
    background-color: green;
}

/* 17 march - 4500 ; */
/* 116228; */
